<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Quileia</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="['/dispositivo']"
              lines="none"
              detail="false"
            >
              <ion-label>Dispositivos</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="['/conexion']"
              lines="none"
              detail="false"
            >
              <ion-label>Conexiones de red</ion-label>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="['/historico']"
              lines="none"
              detail="false"
            >
              <ion-label>Historico de conexiones</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
